.content {
  margin-top: 96px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .content {
    margin-top: 90px;
  }
}
/*
@media screen and (max-width: 320px) {
  .content {
    margin-top: 50px;
  }
}
