.footer {
  max-width: 194px;
  margin: auto;
  margin-top: 92px;
  padding-bottom: 24px;
}

.footer__creditos {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 64px;
  }
}
