.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 34px;
}

.header__logo {
  width: 100%;
  max-width: 255px;
  height: 68.94px;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 30px;
  }
  .header__logo {
    width: 100%;
    max-width: 254px;
  }
}
/*
@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    padding-top: 20px;
  }
  .header__logo {
    width: 100%;
    max-width: 188px;
  }
}
