.image {
  width: 100%;
  max-width: 984px;
  margin: auto;
  margin-top: 64px;
}

@media screen and (max-width: 768px) {
  .image {
    max-width: 768px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .image {
    max-width: 320px;
    margin-top: 40px;
  }
}
