.lead {
  max-width: 984px;
  height: 983px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  max-width: 720px;
  height: 200px;
  font-family: "inter-black", sans-serif;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0;
}

.lead__text {
  font-family: "inter-regular", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px 0 0;
}

.lead__image {
  max-width: 984px;
  height: 615px;
  margin-top: 64px;
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin: auto;
  }

  .lead__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
  }

  .lead__text {
    max-width: 720px;
    margin-top: 25px;
    font-size: 30px;
    line-height: 36px;
  }

  .lead__image {
    max-width: 768px;
    margin-top: 30px;
  }
}
/*
@media screen and (max-width: 320px) {
  .lead {
    max-width: 288px;
  }

  .lead__title {
    width: 228px;
  }

  .lead__text {
  }

  .lead__image {
  }
}
