.section {
  max-width: 984px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .section {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .section {
    max-width: 288px;
  }
}
